* {
  background-color: rgb(19, 8, 8);
  background-repeat: no-repeat;
}


.svg {
  position: fixed;
  z-index: 0;
}

.disp {
  display: grid;
  justify-content: center;
}

.buttons {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(2, 220px);
  grid-template-rows: repeat(3, 110px);
  gap: 40px;
  z-index: 1;
}

.buttons-item {
  font-family: 'Anonymous Pro', bold;
  font-size: 14px;
  border: 2px solid;
  border-color: rgb(215, 215, 215);
  border-radius: 5px;
  color: white;
  padding: 0;
}

.buttons-item:hover {
  border: 3px solid;
  background-color: rgba(204, 204, 204, 0.228);
  transition: 0.3s;
}

.buttons-item:active {
  background-color: rgba(245, 245, 245, 0.338);
  transition: 0.3s;
}

path {
  stroke: rgb(255, 255, 255);
  animation: draw 2500s linear forwards;
  stroke-dashoffset: 1000000;
  stroke-dasharray: 600;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}