* {
  background-color: black;
  background-repeat: no-repeat;
}

body {
  z-index: 9999;
}

.svg {
  position: fixed;
  z-index: 0;
}

.disp {
  display: grid;
  justify-content: center;
}

.buttons {
  margin-top: 120px;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(3, 100px);
  gap: 50px;
  z-index: 1;
}

.buttons-item {
  border: 1px solid;
  border-radius: 5px;
  color: white;
  padding: 20px;
}

path {
  stroke: rgb(252, 248, 248);
  animation: draw 2500s linear forwards;
  stroke-dashoffset: 1000000;
  stroke-dasharray: 600;
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}