* {
    background-color: black;
}

.classButton1 {
    color: whitesmoke;
    font-size: 50px;
    border: 1px solid white;
    border-radius: 10%;
    padding: 30px; 
    font-family: 'Anonymous Pro' monospace;
    margin-top: 3%;
    
}

.classButton2 {
    color: whitesmoke;
    font-size: 55px;
    border: 1px solid white;
    border-radius: 10%;
    padding: 30px; 
    font-family: 'Anonymous Pro' monospace;
    margin-top: 3%;
    margin-left: 7%;
    
}



.classButton3 {
    color: whitesmoke;
    font-size: 55px;
    border: 1px solid white;
    border-radius: 10%;
    padding: 30px;
    font-family: 'Anonymous Pro' monospace;
    margin-top: 3%;
    margin-left: 9%;
}

.container-buttons {
    display: flex;
    justify-content: space-around;
}

.classButton4 {
    color: whitesmoke;
    font-size: 50px;
    border: 1px solid white;
    border-radius: 10%;
    padding: 50px;
    font-family: 'Anonymous Pro' monospace;
    margin-top: 5%;
}

.classButton5 {
    color: whitesmoke;
    font-size: 50px;
    border: 1px solid white;
    border-radius: 10%;
    padding: 50px;
    font-family: 'Anonymous Pro' monospace;
    margin-top: 5%;
    margin-left: 10%;

}


.classButton6 {
    color: whitesmoke;
    font-size: 50px;
    border: 1px solid white;
    border-radius: 10%;
    padding: 35px;
    font-family: 'Anonymous Pro' monospace;
    margin-top: 5%;
    margin-left: 11%;
}

.container-buttons2 {
    display: flex;
    justify-content: space-around;
}
